@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Light-grayish-cyan-2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Strong-cyan: hsl(172, 67%, 45%);
}

html{
    font-size: 62.5%;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--Light-grayish-cyan);
}

.logo{
    position: absolute;
    top: 4rem;
}
.values{
    margin-right: 5rem;
}

.container{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 3rem;
    border-radius: 20px;
}

.inp-bill, .number-people{
    display: flex;
    flex-direction: row;
}

.input-fields{
    border: none;
    text-align: right;
    background-color: transparent;
    font-size: 1.8rem;
    width: 100%;
    
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

.new-field{
    width: 30rem;
    height: 3.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Light-grayish-cyan-2);
    padding: 1.4rem;
    border-radius: 5px;
}

.new-field div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.new-field img{
    height: 1.2rem;
}


input{
    outline: none;
}

.inp-tip{
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
}

.inp-tip button, #inp-tip-field{
    width: 9.1rem;
    height: 3.5rem;
    background-color: var(--Very-dark-cyan);
    border: none;
    margin-bottom: 1rem;
    margin-right: 0.9rem;
    color: white;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    font-size: 1.8rem;
}
#inp-tip-field{
    background-color: var(--Light-grayish-cyan-2);
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--Dark-grayish-cyan);
}

input::placeholder{
    color: var(--Dark-grayish-cyan);
    font-weight: 400;
    font-size: 1.8rem;
}

.label-title{
    font-size: 1.3rem;
    color: var(--Dark-grayish-cyan);
    font-weight: 400 !important;
    line-height: 3rem;
}

.inp-bill,
.inp-tip,
.number-people{
    margin-bottom: 3rem;
}







.total{
    background-color: var(--Very-dark-cyan);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}



.row-total{
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.span-total{
    margin-right: 10rem;

}

.final-value{
    font-size: 4rem;
    color: var(--Strong-cyan);

}

.p-total{
    font-size: 1.4rem;
    color: white;
}

.p-total-sub{
    font-size: 1.2rem;
    color: var(--Dark-grayish-cyan);
}

.btn-area{
    display: block;
    background-color: var(--Strong-cyan);
    padding: .8rem;
    border-radius: 6px;
    text-align: center;
}

.btn-area:hover{
    background-color: var(--Light-grayish-cyan);
    transition: all 0.3s;
}

#btn-reset{
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--Very-dark-cyan);
    display: block;
}





